################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Shopping/.vs
/Shopping/Shopping.Api/bin/Debug/net8.0
/Shopping/obj/Docker
Shopping/Shopping.Api/obj
Shopping/Shopping.Client/obj
